<br>
<div align="center"> 
		<font size="4"><b>Select Delivery Location</b></font> 
		<ul class="list-group" style="padding-left: 354px; padding-right: 346px;">
			<span ng-repeat="loc in model.location"> 
			<a  class="list-group-item" ng-click="fetchMenuFromLocation(loc.location, loc.id)" style=" cursor: pointer; cursor: hand;">
      			<h class="list-group-item-heading" >{{loc.location}} </h> 
      			 <span class="badge" style="background-color:#FDF4F4"> <img src="images/forward.png" alt="Smiley face" height="12" width="12"></a></span></li>
    		</a>
    		</span>
		   <!-- <li class="list-group-item" ng-repeat="loc in model.location"><a href="http://www.pageresource.com"> {{loc.location}} 
		    <span class="badge"> <img src="images/forward.png" alt="Smiley face" height="12" width="12"></a></span></li> -->
		    
		</ul>
</div> 

<div>
	
</div>
